<div class="custom-banner">
  <div class="custom-banner-top-image-wrapper d-none d-md-block">
    {{ section.settings.custom_banner_top_image | image_url: width: auto | image_tag }}
  </div>
  <div class="custom-banner-bottom d-block d-md-flex">
    <div class="custom-banner-info">
      <div class="custom-banner-header text-center text-md-left">{{ section.settings.custom_banner_header }}</div>
      <div class="{% if section.settings.custom_banner_description_small_devices != blank %}d-none d-md-block {% endif %}custom-banner-description text-center text-align-md-left">
        {{ section.settings.custom_banner_description }}
      </div>
      {% if section.settings.custom_banner_description_small_devices != blank %}
        <div class="d-flex justify-content-center d-md-none custom-banner-description text-center">
          {{ section.settings.custom_banner_description_small_devices }}
        </div>
      {% endif %}
      <div class="custom-banner-button-wrapper-desktop d-none d-md-block">
        <a class="button button-primary" href="#">
          <span class="d-flex g-20 align-items-center">
            <span class="custom-banner-button-label">SHOP NOW</span>
            <span>
              <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999512 5.75L0.249512 5.75L0.249512 7.25L0.999512 7.25L0.999512 5.75ZM25.5298 7.03033C25.8227 6.73744 25.8227 6.26257 25.5298 5.96967L20.7569 1.1967C20.464 0.903807 19.9891 0.903807 19.6962 1.1967C19.4033 1.48959 19.4033 1.96447 19.6962 2.25736L23.9389 6.5L19.6962 10.7426C19.4033 11.0355 19.4033 11.5104 19.6962 11.8033C19.9891 12.0962 20.464 12.0962 20.7569 11.8033L25.5298 7.03033ZM0.999512 7.25L24.9995 7.25L24.9995 5.75L0.999512 5.75L0.999512 7.25Z" fill="#F5F5F5"/>
              </svg>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="custom-banner-bottom-image-wrapper">
      {{ section.settings.custom_banner_bottom_image | image_url: width: auto | image_tag }}
    </div>
  </div>
  <div class="custom-banner-bottom-text-wrapper d-flex justify-content-center align-items-center">
    <span class="custom-banner-bottom-text">
      {{ section.settings.custom_banner_bottom_text }}
    </span>
  </div>
  <div class="custom-banner-button-wrapper d-flex justify-content-center d-md-none">
    <a class="button d-flex g-20 button-primary align-items-center" href="#">
      <span class="custom-banner-button-label">SHOP NOW</span>
      <span>
        <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.999512 5.75L0.249512 5.75L0.249512 7.25L0.999512 7.25L0.999512 5.75ZM25.5298 7.03033C25.8227 6.73744 25.8227 6.26257 25.5298 5.96967L20.7569 1.1967C20.464 0.903807 19.9891 0.903807 19.6962 1.1967C19.4033 1.48959 19.4033 1.96447 19.6962 2.25736L23.9389 6.5L19.6962 10.7426C19.4033 11.0355 19.4033 11.5104 19.6962 11.8033C19.9891 12.0962 20.464 12.0962 20.7569 11.8033L25.5298 7.03033ZM0.999512 7.25L24.9995 7.25L24.9995 5.75L0.999512 5.75L0.999512 7.25Z" fill="#F5F5F5"/>
        </svg>
      </span>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Custom Banner",
  "tag": "section",
  "class": "Custom Banner",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_banner_top_image",
      "label": "Banner Top Image"
    },
    {
      "type": "image_picker",
      "id": "custom_banner_bottom_image",
      "label": "Banner Bottom Image"
    },
    {
      "type": "text",
      "id": "custom_banner_header",
      "label": "Banner Heading"
    },
    {
      "type": "richtext",
      "id": "custom_banner_description",
      "label": "Banner Description"
    },
    {
      "type": "richtext",
      "id": "custom_banner_description_small_devices",
      "label": "Description for smaller devices"
    },
    {
      "type": "text",
      "id": "custom_banner_button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "custom_banner_button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "custom_banner_bottom_text",
      "label": "Banner Bottom Text"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
