<div
  class="featured-products page-width"
  data-default-offset-top="{{ section.settings.popup_point_offset_from_top }}"
  data-default-offset-left="{{ section.settings.popup_point_offset_from_left }}"
>
  <div class="d-grid col-6 col-md-4">
    <div class="grid-item">
      {% for block in section.blocks %}
        <div class="featured-product-card">
          <div class="product-image-wrapper">
            {{ block.settings.product.featured_image | image_url: width: auto | image_tag }}
          </div>
          <div
            class="popover-wrapper"
            data-default-offset-top="{{ block.settings.popup_point_offset_from_top }}"
            data-default-offset-left="{{ block.settings.popup_point_offset_from_left }}"
          >
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.3457 1.04175V9.50329" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
              <path d="M1.11523 5.27246H9.57677" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Featured Products",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "range",
      "id": "popup_point_offset_from_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Popup point offset from top",
      "default": 50
    },
    {
      "type": "range",
      "id": "popup_point_offset_from_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Popup point offset from left",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Choose Product"
        },
        {
          "type": "range",
          "id": "popup_point_offset_from_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup point offset from top",
          "default": 50
        },
        {
          "type": "range",
          "id": "popup_point_offset_from_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup point offset from left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Featured Products"
    }
  ]
}
{% endschema %}
