<div
  class="custom-featured-products page-width"
  data-default-offset-top="{{ section.settings.popup_point_offset_from_top }}"
  data-default-offset-left="{{ section.settings.popup_point_offset_from_left }}"
>
  <div class="d-grid col-6 col-md-4">
    {% for block in section.blocks %}
      <div class="grid-item">
        <div class="featured-product-card">
          <div class="product-image-wrapper">
            {{ block.settings.product.featured_image | image_url: width: auto | image_tag }}
          </div>
          <div
            class="popover-wrapper"
            style="transform: translate(-50%, -50%);   top: {{ block.settings.popup_point_offset_from_top }}%; left: {{ block.settings.popup_point_offset_from_left }}%"
          >
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.1123 1.44995V7.49391" stroke="black" stroke-linecap="square" stroke-linejoin="round"></path>
              <path d="M1.09033 4.47192H7.13429" stroke="black" stroke-linecap="square" stroke-linejoin="round"></path>
            </svg>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Custom Featured Products",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "range",
      "id": "popup_point_offset_from_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Popup point offset from top",
      "default": 50
    },
    {
      "type": "range",
      "id": "popup_point_offset_from_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Popup point offset from left",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Choose Product"
        },
        {
          "type": "range",
          "id": "popup_point_offset_from_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup point offset from top",
          "default": 50
        },
        {
          "type": "range",
          "id": "popup_point_offset_from_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup point offset from left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Featured Products"
    }
  ]
}
{% endschema %}
